.wrapper {
  margin-top: 10px;
  overflow: auto;
  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    li {
      padding: 5px 10px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 8px;
      justify-content: space-between;
      text-align: start;
      transition: background-color 0.25s;

      &:hover {
        background-color: var(--hover-color-background);
      }
    }
  }

  // Псевдоелементи для браузерів на базі WebKit
  &::-webkit-scrollbar {
    width: 5px; // для вертикального скролу, або height: 10px для горизонтального
  }

  &::-webkit-scrollbar-track {
    background: var(--color-scrollbar-background); // фон треку
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888; // колір "повзунка"
    border-radius: 5px;
    border: 1px solid var(--color-scrollbar-background); // створює ефект відступу від країв треку
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555; // колір при наведенні
  }
}

.actionButtons {
  display: flex;
  gap: 5px;
  align-self: flex-start;
}
