@use "./styles/reset";
@use "./styles/variables";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: var(--color-background-secondary);
  font-family: inherit;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: 500;
  color: inherit;

  transition: border-color 0.25s;

  &:hover {
    border-color: var(--border-color-button);
  }
}
